<section>
  <legend>
    Basic Checkbox
  </legend>
  <div>
    checkbox count <input type="text" [(ngModel)]="demo1.basicCount">
    <button (click)="newArr1()">build new Arr</button>
  </div>
  <label>
    <input type="checkbox" checkbox-leader #leader1="checkbox-leader">全選</label>
  <label *ngFor="let e of demo1.basicArr">
    <input type="checkbox" [checkbox-leader-item]="leader1">{{e}}</label>

</section>

<hr>


<section>
  <legend>
    Add Checkbox
  </legend>
  <div>
    <button (click)="addDemo2()">Add one item</button>
  </div>
  <label>
    <input type="checkbox" checkbox-leader #leader2="checkbox-leader">全選</label>
  <label *ngFor="let ch of demo2">
    <input type="checkbox" [checkbox-leader-item]="leader2" [value]="ch">{{ch}}</label>

</section>



<hr>

<section>
  <legend>
    With CheckedList
  </legend>
  <label>
    <input type="checkbox" checkbox-leader #leader3="checkbox-leader">全選</label>
  <label *ngFor="let ch of demo3">
    <input type="checkbox" [checkbox-leader-item]="leader3" [value]="ch" [checkedList]="demo3List">{{ch}}</label>
  <div>
    {{demo3List|json}}
  </div>
</section>


<hr>

<app-test-observable></app-test-observable>

<hr>

<section>
  <legend>
    Empty
  </legend>
  <label>
    <input type="checkbox" checkbox-leader #leader4="checkbox-leader">全選</label>

</section>

<hr>

<section>
  <legend>
    Disabled
  </legend>
  <label>
    <input type="checkbox" checkbox-leader #leaderDisabled="checkbox-leader">全選</label>
  <label *ngFor="let ch of [1,2,3,4,5]">
    <input type="checkbox" [disabled]="ch==3" [checkbox-leader-item]="leaderDisabled" [value]="ch">{{ch}}</label>
</section>

<hr>
