<app-test-random-option></app-test-random-option>

<hr>




<app-test-dynamic-option></app-test-dynamic-option>



<hr>


<app-test-observable></app-test-observable>

<hr>

<section checkHeaderContainer>
  <legend>
    With CheckedList
  </legend>
  <label>
    <input type="checkbox" checkHeader="group3">全選</label>
  <label *ngFor="let ch of demo3">
    <input type="checkbox" group3 [value]="ch" [checkedList]="demo3List">{{ch}}</label>
  <div>
    {{demo3List|json}}
  </div>
</section>


<hr>

<section checkHeaderContainer>
  <legend>
    Empty
  </legend>
  <label>
    <input type="checkbox" checkHeader="group4">全選</label>

</section>

<hr>
