<section>
  <legend>
    <label>
      <input #ck1="checkHeader" type="checkbox" checkHeader="group1">全選</label>
    <button (click)="ck1.refresh()">重整</button>
  </legend>
  <label>
    <input type="checkbox" group1>1</label>
  <label>
    <input type="checkbox" disabled group1>2</label>
  <label>
    <input type="checkbox" group1>3</label>
  <label>
    <input type="checkbox" group1>4</label>
</section>

<hr>

<section>
  <legend>
    <label>
      <input #ck2="checkHeader" type="checkbox" checkHeader="group2" [dectTarget]="arr">全選</label>
    <button (click)="ck2.refresh()">重整</button>
  </legend>
  <label *ngFor="let ch of arr">
    <input type="checkbox" [value]="ch" group2 [checkedList]="sctArr">{{ch}}</label>

</section>
{{sctArr|json}}

<hr>

<section>
  <legend>
    <label>
      <input type="checkbox" #chhead="checkHeader" checkHeader="group3" [dectTarget]="randomArr">全選</label>
    <button (click)="buildArr();">產生新陣列</button> {{randomArr.length}}
  </legend>
  <label *ngFor="let ch of randomArr">
    <input type="checkbox" [value]="ch" group3>{{ch}}</label>
</section>

<hr>

<section>
  <legend>
    <label>
      <input type="checkbox" #chhead="checkHeader" checkHeader="group4">全選</label>
    <button (click)="updateArr(chhead);">更新原陣列</button> {{randomArr2.length}}
  </legend>
  <label *ngFor="let ch of randomArr2">
    <input type="checkbox" [value]="ch" group4>{{ch}}</label>
</section>

<hr>

<section>
  <legend>

  </legend>
  <app-parent>
    <app-child *ngFor="let c of arr">
      {{c}}
    </app-child>
  </app-parent>
</section>
