<fieldset>
  <legend>Variable</legend>
  <label>
    <input type="checkbox" bin-true-value="Yes" bin-false-value="No" [(model)]="variable" />Do you like comic book?</label>
  <p>Your Ans: {{variable}}</p>
</fieldset>


<fieldset>
  <legend>Variable Complex </legend>
  <label>
    <input type="checkbox" [bin-true-value]="{name:'Batman'}" [bin-false-value]="{name:'Wonder women'}" [(model)]="variableComplex"
    />Are you Batman?</label>
  <p>Your name: {{variableComplex?.name}}</p>
</fieldset>

<fieldset>
  <legend>Form Control</legend>
  <label>
    <input type="checkbox" bin-true-value="Batman" bin-false-value="Wonder women" [(control)]="variableControl" />Are you Batman?</label>
  <p>Your name: {{variableControl.value}}</p>
</fieldset>
