<fieldset>
  <legend>Variable</legend>

  <!-- <pre class="prettyprint lang-html">
    <label>
        <input type="checkbox" bin-true-value="Yes" bin-false-value="No" [(model)]="variable" />Do you like comic book?</label>
  </pre> -->

  <label>
    <input type="checkbox" bin-true-value="Yes" bin-false-value="No" [(model)]="variable" />Do you like comic book?</label>
  <p>Your Ans: {{variable}}</p>
</fieldset>


<fieldset>
  <legend>Variable Complex </legend>

  <!-- <pre class="prettyprint lang-html">
      <label>
          <input type="checkbox" bin-true-value="Yes" bin-false-value="No" [(model)]="variable" />Do you like comic book?</label>
    </pre> -->

  <label>
    <input type="checkbox" [bin-true-value]="{name:'Batman'}" [bin-false-value]="{name:'Wonder women'}" [(model)]="variableComplex"
    />Are you Batman?</label>
  <p>Your name: {{variableComplex.name}}</p>
</fieldset>
