<fieldset>
  <legend>Mock Api</legend>
  <button id="button" (click)="mockApi()">Call Api</button>
  <label>
    <input type="checkbox" value="1" [checkedList]="variableArr" />1</label>
  <label>
    <input type="checkbox" value="2" [checkedList]="variableArr" />2</label>
  <label>
    <input type="checkbox" value="3" [checkedList]="variableArr" />3</label>
  <label>
    <input type="checkbox" value="4" [checkedList]="variableArr" />4</label>
  <label>
    <input type="checkbox" value="5" [checkedList]="variableArr" />5</label>
  <p>Your Ans: {{variableArr|json}}</p>
</fieldset>
